<!-- for nav tab & pills -->
<!-- <div class="topnav">
    <a routerLink="" routerLinkActive="active">Inputs</a>
    <a>Tabs</a>
    <a>Button</a>
    <a>About</a>
</div>
  
<div class="container-fluid">
    <router-outlet></router-outlet>
</div> -->

<!-- for hoverable tabs -->
<div id="mySidenav" class="sidenav">
    <a id="inputs" routerLink="" routerLinkActive="active">Inputs</a>
    <a id="tabs" routerLink="excel" routerLinkActive="active">Excel</a>
    <a id="buttons" routerLink="buttons" routerLinkActive="active">Buttons</a>
    <a id="modals" routerLink="modals" routerLinkActive="active">Modals</a>
</div>
  
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>